body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 7px solid #d8cefe;
    background-color: #ddebf8;
    color: #2b2839  ;
}

.dotted-blue-border {
    border: 1px dotted blue;
}
